.nav-score {
  color: $colorMainDark;
  //   display: none;
  @include transition();
  opacity: 0;
  z-index: -10;
  transform: translateX(-100%);
  width: 0%;

  &.visible {
    opacity: 1;
    z-index: 10;
    display: flex;
    transform: translateX(0%);
    @include transition();
    width: 100%;
  }

  .nav-input {
    font-family: inherit;
    font-size: inherit;
    width: 2rem;
    text-align: center;
  }

  .nav-label {
    color: $colorMainDark;
  }
}

.second-section {
  padding: 0.8rem;
  position: absolute;
  @include flex-column($justify: space-around);
  width: 100%;
  height: 100%;
  max-width: 1200px;
  font-size: 0.8em;

  //   background-color: aqua;
  @include hidden;
  // cursor: none;
  color: $colorMainDark;
  gap: 0.8rem;

  &.visible {
    @include visible;
    @include transition();
  }
}

.question {
  @include flex-row();
  width: 100%;
  max-height: 30%;
  gap: 1rem 1rem;

  .question-image {
    @include darkStyle();
    // max-width: 25%;
    // max-height: 100%;
    max-width: 300px;
    max-height: 300px;
    width: 30%;
    height: 100%;

    // background-image: url(../assets/images/guess-bird.png);
    // background-image: url("https://live.staticflickr.com//65535//49298804222_474cfe8682.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .question-picture {
      // max-width: 25rem;
      // max-height: 25rem;
      width: 100%;
      height: 100%;
    }
  }

  .question-task {
    padding: 1.25rem;
    @include flex-column($align: flex-start, $justify: center);
    gap: 1rem;
    width: 100%;
    height: 100%;
    @include darkStyle();

    .question-name {
      font-size: 1.5rem;
      font-weight: 700;
    }

    .question-player {
      @include flex-row();
      width: 100%;
      border-top: 1px solid #212a43;
      padding: 1rem 0;
    }
  }
}

.answer {
  @include flex-row();
  width: 100%;
  max-height: 50%;
  gap: 1rem;
  font-size: 1rem;

  .answer-items {
    padding: 1.25rem;
    @include flex-column($align: flex-start, $justify: center);
    // width: 49%;
    height: 100%;
    // border: 1px solid $colorMainDark;
    gap: 1rem 1rem;
    @include darkStyle();
  }

  .show-option {
    max-width: 300px;
    width: 30%;
  }

  .answer-names {
  }

  .answer-description {
    width: 100%;
    text-align: center;
    
    .answer-title {
      @include flex-row();
      width: 100%;
      height: 100%;
      gap: 1rem;

      .answer-image {
        max-width: 250px;
        max-height: 250px;
        border-radius: 5px;

        width: 30%;
        height: 100%;

        background-image: url(../assets/images/guess-bird.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;

        .answer-picture {
          width: 100%;
          height: 100%;
        }
      }

      .answer-info {
        width: 100%;
        // padding-left: 1rem;
        @include flex-column($align: flex-start);

        .name {
          margin-bottom: 5px;
          font-weight: 700;
          font-size: 1.5em;
          width: 30%;
          border-bottom: 1px solid $colorMainDark;
        }

        .latin-name {
          margin-bottom: 15px;
          border-bottom: 1px solid $colorMainDark;
          width: 100%;
        }
      }
    }
  }
}
