.nav-score {
  color: $colorMainDark;
  @include transition();
  opacity: 0;
  z-index: -10;
  transform: translateX(-200%);
  width: 0%;
  font-size: 24px;

  @include small {
    font-size: 27px;
  }

  &.visible {
    opacity: 1;
    z-index: 10;
    display: flex;
    transform: translateX(0%);
    @include transition();
    width: 100%;
  }

  .nav-input {
    font-family: inherit;
    font-size: inherit;
    width: 2rem;
    text-align: center;
    background-color: transparent;
  }

  .nav-label {
    color: $colorMainDark;
  }
}

.second-section {
  padding: 0.8rem;
  @include flex-column();
  width: 100%;
  height: 100%;
  max-width: 1200px;
  font-size: 1em;

  @include small {
    gap: 0.5rem;
    padding: 0.8rem 0;
  }

  @include hidden;
  pointer-events: none;
  color: $colorMainDark;
  gap: 0.8rem;
  height: 0;
  position: relative;
  top: -100%;

  &.visible {
    @include visible;
    @include transition();
    pointer-events: auto;
    height: auto;
    position: static;
    top: 0%;
  }

  .levels {
    @include flex-row($justify: center);
    @include medium {
      flex-direction: column;
      margin-bottom: 20px;
      gap: 1px;
    }

    .levels-items {
      @include flex-row($justify: center);
      height: 100%;

      @include medium {
        width: 100%;
      }
    }
  }
}

.question {
  @include flex-row();
  width: 100%;
  max-height: 30%;
  gap: 1rem 1rem;

  @include small {
    flex-direction: column;
    max-height: 40%;
    height: 40%;
  }

  .question-image {
    @include darkStyle();
    max-width: 300px;
    max-height: 300px;
    width: 30%;
    height: 100%;

    @include large {
      width: 45%;
    }

    @include small {
      width: 100%;
      min-height: 200px;
    }

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .question-picture {
      width: 100%;
      height: 100%;
    }
  }

  .question-task {
    padding: 1rem;
    @include flex-column($align: flex-start, $justify: center);

    width: 100%;
    height: 100%;
    @include darkStyle();

    @include large {
      padding: 0.5rem;
    }

    @include small {
      max-height: 48%;
      justify-content: space-between;
    }

    .question-name {
      font-size: 1.5em;
      font-weight: 700;
    }

    .question-player {
      @include flex-column();
      width: 100%;
      border-top: 1px solid #212a43;
      padding: 1rem 0;

      @include small {
        padding: 0.5em 0 0 0;
      }
    }
  }
}

.answer {
  @include flex-row();
  width: 100%;
  gap: 1rem;
  font-size: 1em;

  @include medium {
    flex-direction: column;
    align-items: flex-start;
    font-size: 1.4em;
  }

  @include small {
    font-size: 1.1em;
    gap: 1rem;
    order: 3;
  }

  .answer-items {
    padding: 1rem;
    @include flex-column($align: flex-start, $justify: center);
    height: 100%;
    gap: 1rem 1rem;
    @include darkStyle();
  }

  .show-option {
    max-width: 300px;
    width: 30%;

    @include large {
      padding: 0.5rem;
    }

    @include medium {
      width: 100%;
      max-width: 1000px;
    }
  }

  .answer-names {
  }

  .answer-description {
    width: 100%;
    text-align: center;

    .answer-title {
      @include flex-row();
      width: 100%;
      height: 100%;
      gap: 1rem;

      @include small {
        flex-direction: column;
      }

      .answer-image {
        max-width: 250px;
        max-height: 250px;
        border-radius: 5px;
        width: 30%;
        height: 100%;

        @include large {
          width: 45%;
          max-height: 150px;
        }

        @include small {
          width: 100%;
          min-height: 150px;
        }

        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        .answer-picture {
          width: 100%;
          height: 100%;
        }
      }

      .answer-info {
        width: 100%;
        @include flex-column($align: flex-start);

        .name {
          margin-bottom: 5px;
          font-weight: 700;
          font-size: 1.5em;
          width: 30%;
          border-bottom: 1px solid $colorMainDark;
          text-align: left;
          @include visible();

          &.hidden {
            @include hidden();
          }

          @include small {
            font-size: 1.3em;
          }
        }

        .latin-name {
          margin-bottom: 15px;
          border-bottom: 1px solid $colorMainDark;
          width: 100%;
          text-align: left;
          @include visible();

          &.hidden {
            @include hidden();
          }
        }
      }
    }

    .answer-text {
      @include large {
        font-size: 0.9em;
      }
    }
  }
}
