.third-section {
    background-color: $colorMainLight;
    color: $colorMainDark;
    gap: 1rem;

    @include hidden;
  
    &.visible {
      @include visible;
      @include transition();
    }

    .finish-score {
        color: $colorMainDark;
        @include transition();
        @include visible();
        text-align: center;

        &.hidden {
          @include hidden();
        }
      
        .finish-input {
          font-family: inherit;
          font-size: 2rem;
          width: 3rem;
          text-align: center;
          background-color: transparent;
        }
      
        .finish-label {
          color: $colorMainDark;
          font-size: 1.5rem;
        }
      }
}