@mixin flex-row($justify: space-between, $align: center) {
  display: flex;
  flex-direction: row;
  justify-content: $justify;
  align-items: $align;
}

@mixin flex-column($justify: space-between, $align: center) {
  display: flex;
  flex-direction: column;
  justify-content: $justify;
  align-items: $align;
}

//---------------transition

@mixin transition {
    transition: all 1s ease-in-out;
}

@mixin transition-400 {
  transition: 400ms ease all;
}

@mixin transition-800 {
  transition: 800ms ease all;
}


//-------------------media

@mixin medium {
  @media (max-width: (768px)) { 
    @content;
  }
}

@mixin small {
  @media (max-width: (576px)) { 
    @content;
  }
}

@mixin extra-small {
  @media (max-width: (430px)) { 
    @content;
  }
}

