.wrapper {
    margin: 0 auto;
    // padding: 0 20px;
    // max-width: 1920px;
    width: 100%;
    height: 100vh;
    @include flex-column;
    // background-color: $colorWhite;
    // opacity: 0.5;
}

.container {
    margin: 0 auto;
    padding: 0 1.25rem;
    max-width: 1920px;
    width: 100%;
    height: 100%;
    @include flex-row();
    border-bottom: 1px solid $colorMainDark;
    z-index: 5;
}

.main-container {
    @include flex-column($justify: space-around);
    position: relative;
}